<template>
<div class="row">
  <div class="col-sm-12">
    <h3>Task Added</h3>
    <div class="progress">
      <div 
          class="progress-bar" 
          role="progressbar" 
          aria-valuenow="60" 
          aria-valuemin="0" 
          aria-valuemax="1000"
          :style="{width: (taskCount / maxTasks) * 100 + '%'}">
          {{ taskCount }} / {{ maxTasks }}
      </div>
    </div>
  </div>

</div>

</template>

<script>
export default {
  props: ["taskCount", "maxTasks"]
};

</script>
