<template>
<div class="row">
  <form>
    <div class="col-sm-8 offset-sm-2 col-12 col-md-6 offset-md-3">
      <label>Task</label>
      <textarea class="form-control" rows="10" v-model="task"></textarea>
    </div>
    <div class="col-sm-8 offset-sm-2 col-12 col-md-6 offset-md-3">
      <button class="btn btn-primary" @click.prevent="createNew">
        Add Task
      </button>
    </div>
  </form>
</div>
</template>

<script>
export default {
  data() {
    return {
      task: ""
    }
  },
  methods: {
    createNew() {
      this.$emit("taskAdded", this.task);
      this.task = "";
    }
  }
}
</script>

<style lang="scss" scoped>

</style>
