<template>
  <div class="col-sm-6 col-md-4 col-lg-3">
    <div class="card">
      <div class="card-body task">
        <slot></slot>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    props: ["tasks"]
  }
</script>

<style lang="scss" scoped>
.card-body {
  font-family: 'Raleway', sans-serif;
  font-size: 32px;
  color: #6e6e6e;
}

.task {
  cursor: pointer;

  &:hover {
    background-color: #ffe2e2;
  }
}
</style>