<template>
  <div class="row">
    <app-task v-for="(task, index) in tasks" :key="index" @click.native="requestFinish(index)">
      {{ task }}
    </app-task>
  </div>
</template>

<script>
import Task from "./Task.vue";

export default {
  props: ["tasks"],
  components: {
    appTask: Task
  },
  methods: {
    requestFinish(index) {
      this.$emit("taskFinished", index);
    }
  }
}
</script>

<style lang="scss" scoped>

</style>
