<template>
  <div class="container">
    <app-header :taskCount="tasks.length" :maxTasks="maxTasks"></app-header>
    <app-new-task @taskAdded="newTask"></app-new-task>
    <app-task-grid :tasks="tasks" @taskFinished="deleteTask"></app-task-grid>
    <div class="row">
      <div class="col-sm-12 text-center">
        <div class="alert alert-info">
          Tip: Click on a Task after you have finished it
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import TaskGrid from "./components/TaskGrid.vue";
import NewTask from "./components/NewTask.vue";
import Header from "./components/Header.vue";

export default {
  data() {
    return {
      tasks: [
        "Testtest"
      ],
      maxTasks: 10
    }
  },
  components: {
    appTaskGrid: TaskGrid,
    appNewTask: NewTask,
    appHeader: Header
  },
  methods: {
    newTask(task) {
      if (this.tasks.length >= this.maxTasks) {
        return alert("Max Tasks reached!! Please finish some task first..")
      }
      this.tasks.push(task);
    },
    deleteTask(index) {
      this.tasks.splice(index, 1);
    }
  }
};
</script>

<style lang="scss">
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import "./assets/bootstrap.min.css";

</style>
